#carrossel{
    max-width: 120rem; /*85%*/
    /*height: 100%; */
    height: 400px;
    margin: auto;
}

.carroselItem{
    height: 25rem; /*400px*/
}

.tituloOutraCor{
    color: white;
}


@media(max-width: 991px) {
    #carrossel{
        max-width: 40rem; /*85%*/
        max-height: 16rem;
    }
    
    .carroselItem{
        height: 25rem; /*400px*/        
    }

    .carroselTitulo {
        height: 14rem;
    }
}

@media(max-width: 575px) {
    #carrossel{
        max-width: 40rem; /*85%*/
        max-height: 13rem;
    }
    
    .carroselItem{
        height: 25rem; /*400px*/
    }

    .carroselTitulo {
        height: 17rem;
    }
}