#tableLicitacoes {
    overflow: auto;
    display: block;
    table-layout: auto;
}

.container{
    background-color: white;
    padding: 20px;    
    border-radius: 0.8rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    box-shadow: 0.8px 0.8px 4px 1px #888888;
}